<p>
  <strong>Nombre:</strong>
  <%= @profile.name %> <%= @profile.lastname %></br>
    <strong>Email:</strong>
  <%= current_user.email %> 
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<a href="/">Back</a></br>